.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box;
  min-height: 55vh;
  overflow: hidden;
  gap: 40px;
}

.features-title {
  font-size: 2.2rem;
  margin-bottom: 30px;
  text-align: center;

}
