.contact-form {
  flex: 2;
  min-width: 300px;
}

.contact-form label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
}

.contact-form-subtitle {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.container.dark .contact-form-subtitle {
  color: #bbb;
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  border: 1px solid #ccc;
  color: inherit;
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

/* الوضع الداكن للفورم */
.container.dark .contact-form input,
.container.dark .contact-form textarea {
  border: 1px solid #444;
}

/* لون التركيز */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.container.light .contact-form input:focus,
.container.light .contact-form textarea:focus {
  border-color: #556b2f;
  box-shadow: 0 0 5px rgba(85, 107, 47, 0.5);
}

/* التركيز بالدارك */
.container.dark .contact-form input:focus,
.container.dark .contact-form textarea:focus {
  border-color: #d4af37; /* لون الحدود مثل لون زر الداكن */
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5); /* نفس تأثير اللايت */
  color: #121224; /* نص غامق أو لون واضح على الخلفية الداكنة */
  background-color: #fff; /* خلفية فاتحة عند التركيز لتكون القراءة واضحة */
}